* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9E6F7;

}

.header {
  background: rgb(81, 127, 197);
  background: linear-gradient(0deg, rgba(81, 127, 197, 1) 9%, rgba(81, 127, 197, 0.65) 50%, rgba(81, 127, 197, 1) 96%);
  height: 35px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 1000px;

  justify-content: space-between;
}

.logoWrapper {
  background-color: rgb(235, 235, 235);
  width: 91px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.header img {
  width: 65px;
  height: 23px;
}

.wrapperMenu {
  margin-right: 200px;
}

.wrapperMenu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrapperMenu ul li {
  list-style-type: none;
  margin: 0 10px;
}

.wrapperMenu ul li a {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.wrapperInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emailMenu {
  font-weight: 700;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #36527D;
}

.quitMenu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.wrapperSearch {
  background-color: #5F7FA7;
  border-radius: 5px;
  width: 197px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
}

.wrapperSearch input {
  width: 160px;
  height: 22px;
  margin-left: 10px;
}

.wrapperSearch input:focus {
  outline: none;
}

.wrapperSearch button {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  margin-top: 3px;
}

.wrapperSearch img {
  width: 20px;
  height: 15px;
}

.wrapperBody {
  background-color: #D9E6F7;
  margin: 0 auto;
  height: 500px;
  width: 1000px;
}

.profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px rgba(54, 60, 70, 0.267);
  height: 420px;
  margin-top: 10px;
  width: 156px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.pictureProfile {
  height: 160px;
  width: 130px;
  margin: 0 auto;
}

.usernameProfile {
  color: #4E93AA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 10px;
}

.maritalStatus,
.locationProfile {
  color: #979797;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-left: 10px;
  position: relative;
}

.maritalStatus {
  margin-top: 6px;
}

.locationProfile::after {
  content: '';
  background-color: #EAEAEC;
  height: 1px;
  width: 146px;
  position: absolute;
  top: 20px;
  right: 5px;
}

.wrapperAddProfile {
  margin-top: 10px;
  display: flex;
  position: relative;
}

.wrapperAddProfile img {
  height: 18px;
  width: 18px;
}

.wrapperAddProfile a {
  color: #4E93AA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  line-height: 22px;
}

.wrapperAddProfile a span {
  font-size: 9px;
}

.wrapperAddProfile::after {
  content: '';
  background-color: #EAEAEC;
  height: 1px;
  width: 146px;
  position: absolute;
  top: 50px;
  right: 5px;
}

.optionsProfile {
  background-color: #EFF8FF;
  margin-top: 10px;
  margin-left: 4px;
  width: 95%;
  position: relative;
}

.optionsProfile::after {
  content: '';
  position: absolute;
  background-color: #EAEAEC;
  top: 122px;
  left: 1px;
  height: 1px;
  width: 146px;
}

.optionsProfile li:nth-child(2n+1) {
  border: 1px solid #DDE9F8;
}

.optionsProfile li:nth-child(2n) {
  border-left: 1px solid #DDE9F8;
  border-right: 1px solid #DDE9F8;
}

.optionsProfile img {
  margin-left: 3px;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

.optionsProfile li {
  color: #535c69;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 22px;
}